@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", system-ui;
}

.container{
  @apply sm:max-w-xl md:max-w-full md:max-w-screen-xl  mx-auto
}