@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

.container{
  @apply sm:max-w-xl md:max-w-full lg:max-w-screen-xl xl:max-w-screen-2xl  mx-auto px-4 xl:px-20
}